@model UserModelDto

<br />
<div class="container border p-3">
    <h1 class="text-info">Request Profile Changes</h1>

    <hr />
    <input asp-for="Id" class="form-control" hidden />
    <div class="row mt-4">
        <div class="col-4 border p-3 m-2 ms-5">
            <a asp-controller="RequestProfileChange" asp-action="RequestPasswordChange" class="btn-success btn form-control" asp-route-id="@Model.Id">Request Password Change</a>
        </div>
        <div class="col-2 m-2">
        </div>
        <div class="col-4 border p-3 m-2">
            <a asp-controller="RequestProfileChange" asp-action="RequestEmailChange" class="btn-success btn form-control" asp-route-id="@Model.Id">Request Password Email</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4 border p-3 m-2 ms-5">
            <a asp-controller="RequestProfileChange" asp-action="RequestPhoneNumberChange" class="btn-success btn form-control" asp-route-id="@Model.Id">Request Phone Change</a>
        </div>
        <div class="col-2 m-2">
        </div>
        <div class="col-4 border p-3 m-2">
            <a asp-controller="RequestProfileChange" asp-action="RequestBasicCredentialsChange" class="btn-success btn form-control" asp-route-id="@Model.Id">Request Basic Credentials Change</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4 border p-3 m-2 ms-5">
            <a asp-controller="RequestProfileChange" asp-action="RequestUserNameChange" class="btn-success btn form-control" asp-route-id="@Model.Id">Request Username Change</a>
        </div>
    </div>
</div>
<div class="container">
    <a asp-controller="User" asp-action="Details" class="btn-info btn btn-lg text-white mt-4" asp-route-id="@Model.Id">Go back</a>
</div>
